

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap');

/* RESET */
* {
    margin:0;
    padding: 0;
    border:none;
    outline: none;
    box-sizing: border-box;
}

/* General Styles */
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color:rgb(181,180,183);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    justify-content: center;
    
}

.container{
    /*margin: 0 10%;*/
    background-color: rgb(255,255,255);
    padding: 0 ;
}

@media (min-width:1440px){
    .container{
        max-width: 1440px;
        margin:auto;
    }
}

div, 
header{ /*no gap */
    margin-bottom:130px ;
}

p{
    justify-content: center;
    padding: 20px 0;
    margin:0;
}

@media (min-width: 1440px) { /* p */
    p{
        width: 42vw;
    }
}


/* Typograph */
html{
    font-size:62.5% /* 1rem = 10px*/
}
body{
    height:100vh;
    font-size: 1.6rem;
    font-family: 'Bai Jamjuree', sans-serif;
    color:rgb(181,180,183);
    text-align: center;
}

h1,h2,h3{
    color: hsl(210, 10%, 33%);
    margin:auto;
    text-align: center;
}

h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;;
}

h2{
    font-size: 2.8rem;

}

h3{
    font-size: 2.4rem;
    margin-top: 40px;
    font-weight: 600;
    font-stretch: semi-condensed;
}

p{
    margin:auto;
    font-size: 1.6rem;
    font-stretch:semi-expanded;
    font-weight: 300;
    line-height: 2.5rem;
}

@media (min-width: 1440px) {
    h1{
        font-size: 3.8rem;
    }

    h2{
        font-size: 3.2rem;
    }
    
    p{
        max-width:60vw;
    }
}

/* Buttons */

button{
    color:#ffffff;
    width:100%;
    height: 50px;
    border-radius: 30px;
    border: whitesmoke;
    font-family:'Bai Jamjuree', sans-serif;
    font-size:1.6rem;
    margin: 15px auto;
}

@media (min-width: 1440px) { /* button */
    button{
        width:16%;
        display: inline;
        margin:0 0.7rem;
    }
}

#btn-ios{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 3px hsl(171, 76%, 35%);
}

#btn-mac{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 3px hsl(233, 56%, 53%);
}

/* Image */

@media (max-width: 375px){
    img.devices{
        width: 100vw;
    }
}


/* Header */
header{
    padding: 0 6%;
}
.hero {
    background-image: url('img/bg-header-mobile.png');
    width:100%;
    height: 333px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    
}

img.hero-img {
    justify-content: center;
    display: flex;
    height: fit-content;
    text-align: center;

}

@media (min-width: 376px) {
    .hero{
        background-image: url('img/bg-header-desktop.png');
        height: 280px;
        align-items: flex-end;
        
    
    } 
    .hero-img{
        margin-bottom: 4%;
    }
}

/* Track */
.track{
    padding: 0 6%;
}

.devices{
    max-width:100%;
    margin:10% 0;
}

@media (min-width:1440px) {
    .wrapper-track{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
    }

    .img-track {
        overflow: hidden;
    }

    img.desktop {
        position: relative;
        object-fit: cover;
        left: -40px;
    }

    .text-track.nogap {
        margin:auto;
        margin-left: 10%;
    }

    .h3-track{
        text-align: left;
    }

    .txtgrid{
        width: 60%;
        margin:0;
        text-align:left;

    }

}

/* Access */

.access{
    padding: 0 6%;
}

/* Logos */

.logos{
    padding: 0 6%;
}

.wrapper-logo{
    display:grid;
    margin:0;
    justify-content: center;
    max-width:100%;
}

.img-logo{
    margin: 3.0rem auto;

}

.mobiledev{
    margin-bottom: 30%;
}

@media (min-width: 1440px){
   
    .wrapper-logo{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: auto;
        width: 90vw;
        align-items: center;
    
    }
    
    .img-logo{
        margin-bottom: 0%;
        margin: 2.0rem auto;
    
    }

    .mobiledev{
        margin: 5% 0;
    }  
}

/* Clipboard*/
.clipboard{
    padding: 0 6%;
}

/* Supercharge */

.supercharge{
    padding: 0 6%;
}

svg.icon {
    margin-top: 30px;
}

.wrapper-super{
    margin:6% auto;
    padding: 15% 0;
}
@media (min-width: 1440px){
    .wrapper-super {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        padding: 0;
    }

    .p-grid{
        width: fit-content;
    }

}

/* Footer */

footer{
    background-color: rgb(245,246,248);
    color:hsl(210, 10%, 33%);
    padding: 5rem 0;
}

.clipboard-logo{
    margin-top: 5% 0;
    width:15%;
    height:15%;
    align-items: center;
}

.nogap{
    margin:0;
}

.wrapper-links{
    display:grid;
    margin:0;
    padding: 3.0rem 0;

}

a.link{
    text-decoration: none;
    font-size: 1.8rem;
    color:hsl(210, 10%, 33%);
    margin:1.5rem;
}

ul{
    list-style: none;
    display: inline-flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}



@media (min-width: 1440px){
    footer{
        background-color: rgb(245,246,248);
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        margin:auto;
        align-items: center;
        padding: 2rem 0;
    }

    .clipboard-logo{
        width:20%;
        height:20%;
    }

    .wrapper-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin-right: 25%;
    }

    ul {
        list-style: none;
        display: inline-flex;
        width: 40%;
        justify-content: space-between;
        align-items: center;
    }

    a.link{
        text-align: left;
    
    }
}



